.hero-about-section {
  background-color: #000;
  background-position: center;
  background-size: cover;
  height: 600px;
}

@media screen and (max-width: 991px) {
  .hero-about-section  {
    height: 400px;
  }
}

@media screen and (max-width: 700px) {
   .hero-about-section {
    height: 300px;
   }
}

.hero-about-section img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  position: relative;
}


.hero-about-text {
  color: rgb(204, 157, 101);
  font-size: 58px;
  line-height: 180%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

@media screen and (max-width: 992px){
 .hero-about-text {
  transform: translate(-50%, -270%);
 }
}

@media screen and (max-width: 700px) {
  .hero-about-text {
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 400px) {
  .hero-about-text {
    transform: translate(-10%, -90%);
  }
}

@media screen and (max-width: 991px) {
  .hero-about-text {
    font-size: 48px;
  }
}

@media screen and (max-width: 899px) {
  .hero-about-text {
    font-size: 38px;
    top: 40%;
  }
}

@media screen and (max-width: 700px) {
  .hero-about-text {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .hero-about-text {
    font-size: 28px;
    top: 25%;
    left: 25%;
  }
}

@media screen and (max-width: 380px) {
  .hero-about-text {
    left: 19%;
  }
}

.hero-copy-section {
  background-color: rgb(204, 157, 101);
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 8rem;
}

@media screen and (max-width: 991px) {
  .hero-copy-section {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 767px) {
  .hero-copy-section {
    padding: 3rem 1.5rem;
  }
}

.hero-copy-header {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 401;
  line-height: 140%;
}

.hero-copy-text {
  color: white;
  font-style: italic;
  font-size: 3rem;
  line-height: 150%;
  font-family: 401;
  letter-spacing: -1px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .hero-copy-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .hero-copy-text {
    font-size: 1.75rem;
    line-height: 140%;
  }
}