/* Styling for header block*/
/* Default styling for header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #d3d3d3;
  background-image: linear-gradient(50deg, rgb(204, 157, 101), rgb(251, 206, 135));
}

.header-logo{
 margin-left: 30px;
 flex: 1;
 max-width: 170px;
 min-width: 130px;
}

.website-logo {
  width: 100%;
}

.page-link {
  width: 600px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  margin-right: 30px;
}

@media ( width < 912px ) {
  .page-link {
    display: none;
 } 
}

.link,
.contact-button {
  flex: 1;
  flex-shrink: 0;
  color: rgb(56, 61, 71);
  font-size: 14px;
  text-transform: uppercase;
}

.link {
  transition: text-decoration 0.20s,
              color 0.20s;
}

.link:hover {
  color: white;
  text-decoration: underline;
}

.contact-button {
  background-color: black;
  color: white;
  padding: 8px 15px;
  transition: background-color 0.20s,
              color 0.20s;
}

.contact-button:hover {
  background-color: white;
  color: black;
}


