/* Styling for header block*/
/* Default styling for header*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.5s;
}

.header-scrolled {
  background-color: black;
}

.header-logo{
 max-width: 300px;
 transition: all 0.5s;
}

.header-logo-scrolled {
  max-width: 200px;
}

.website-logo {
  width: 100%;
}

.page-link {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  gap: 15px;
}

@media ( width < 912px ) {
  .page-link {
    display: none;
 } 
}

.link {
  flex: 1;
  flex-shrink: 0;
  color: rgb(56, 61, 71);
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
}

.link:hover {
  color: #d8d8d8;
  text-decoration: underline;
}

.contact-button {
  background-color: black;
  color: white;
  padding: 8px 15px;
  transition: background-color 0.20s,
              color 0.20s;
}

.contact-button:hover {
  background-color: white;
  color: black;
}

