/*Begin Styling for Hero Section*/
.hero-container {
  height: 700px;
  background-attachment: fixed;
  background: url("../assets/images/hero.jpg") center no-repeat cover;
  position: relative;
}

@media screen and (max-width: 500px) {
  .hero-container {
    height: 500px;
    background-position: left;
  }
}

.hero-text {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 250px;
  left: 50px;
}

@media screen and (max-width: 991px) {
  .hero-text {
  top: 200px;
  }
}

@media screen and (max-width: 720px) {
  .hero-text {
    max-width: 550px;
    left: 30px;
  }
}

#background {
  width: 100%;
  min-height: 700px;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: black;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

@media screen and (max-width: 720px) {
  #background {
    min-height: 500px;
  }
}


.hero-heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-size: 78px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .hero-heading {
    font-size: 60px;
  }
}

@media screen and (max-width: 720px) {
  .hero-heading {
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .hero-heading {
    font-size: 30px;
  }
}

.hero-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-size: 29px;
  margin-bottom: 26px;
}

@media screen and (max-width: 991px) {
  .hero-description {
  font-size: 22px;
  width: 600px;
  }
}
@media screen and (max-width: 720px) {
  .hero-description {
    width: 550px;
  }
}

@media screen and (max-width: 500px) {
  .hero-description {
    font-size: 16px;
    width: 320px;
    padding-top: 10px;
  }
}

.hero-learn-more {
  color: white;
  font-size: 18px;
  background-color: rgb(204, 157, 101);
  width: 125px;
  padding: 8px 13px;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  -o-transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  -webkit-transition: background-color 0.20s,
                      border 0.20s,
                      color 0.20s;
}

.hero-learn-more:hover {
  background-color: transparent;
  border: 1px solid rgb(204, 157, 101);
  color: rgb(204, 157, 101);
}

@media screen and (max-width: 991px) {
  .hero-learn-more {
    font-size: 18px;
    padding: 8px 11px;
  }
}

/*End Styling for Hero Section*/

/*Begin styling for Sub sections*/
.mini-section {
  position: relative;
}

.mini-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  -webkit-column-gap: 6rem;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px; 
}

@media screen and (max-width: 991px) {
  .mini-about-container {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    -webkit-column-gap: 4rem;
  }
}

@media screen and (max-width: 912px) {
  .mini-about-container {
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    -webkit-column-gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .mini-about-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
  }
}

.mini-about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

@media screen and (max-width: 731px) {
  .mini-about-wrapper {
    gap: 50px;
  }
}

.mini-about-picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mini-about-picture img {
  width: 100%;
  height: 732px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 991px) {
  .mini-about-picture img {
    height: 500px;
  }
}

.headliner {
  font-family: Satoshi,sans-serif;
  font-size: 13px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.mini-about-heading {
  font-size: 48px;
  line-height: 120%;
  font-weight: 501;
  color: rgb(204, 157, 101);
  margin-bottom: 20px;
}

.mini-about-heading span {
  font-style: italic;
  font-weight: 401;
}

@media screen and (max-width: 991px) {
  .mini-about-heading {
    max-width: 30rem;
    font-size: 2rem;
  }
}

.mini-about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: -20px;
}

@media screen and (max-width: 731px) {
  .mini-about-text {
    margin-bottom: 0;
  }
}

.mini-about-description {
  font-size: 18px;
  font-weight: 300;
  color: white;
  line-height: 170%;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 991px) {
  .mini-about-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 731px) {
  .mini-about-description {
    font-size: 18px;
  }
}

.mini-about-description br {
  margin-bottom: 30px;
}

.mini-about-learn-more {
  margin-top: 40px;
}

.mini-about-learn-more a {
  color: white;
  font-size: 20px;
  background-color: rgb(56, 61, 71);
  width: 100px;
  padding: 8px 13px;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  -o-transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  -webkit-transition: background-color 0.20s,
                      border 0.20s,
                      color 0.20s;
}

.mini-about-learn-more a:hover {
  background-color: transparent;
  border: 1px solid rgb(204, 157, 101);
  color: rgb(204, 157, 101);
}

.mini-philosophy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 200px;
}

@media screen and (max-width: 991px) {
  .mini-philosophy-wrapper {
    gap: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 70px;
  }
}

@media screen and (max-width: 731px) {
  .mini-philosophy-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 70px;
    gap: 50px;
  }
}

.mini-philosophy-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mini-philosophy-heading {
  font-size: 44px;
  line-height: 120%;
  font-weight: 501;
  color: rgb(204, 157, 101);
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .mini-philosophy-heading {
    font-size: 2rem;
  }
}

.mini-philosophy-heading span {
  font-style: italic;
  font-weight: 401;
}

.mini-philosophy-description {
  font-size: 18px;
  font-weight: 300;
  color: white;
  line-height: 170%;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 991px) {
  .mini-philosophy-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 731px) {
  .mini-philosophy-description {
    font-size: 18px;
  } 
}

.mini-philosophy-description br {
  margin-bottom: 30px;
}

.mini-philosophy-learn-more {
  margin-top: 50px;
}

.mini-philosophy-learn-more a{
  color: white;
  font-size: 20px;
  background-color: rgb(56, 61, 71);
  width: 100px;
  padding: 8px 13px;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  -o-transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  transition: background-color 0.20s,
              border 0.20s,
              color 0.20s;
  -webkit-transition: background-color 0.20s,
                      border 0.20s,
                      color 0.20s;
}

.mini-philosophy-learn-more a:hover {
  background-color: transparent;
  border: 1px solid rgb(204, 157, 101);
  color: rgb(204, 157, 101);
}


.mini-philosophy-picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mini-philosophy-picture img {
  width: 100%;
  height: 732px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media screen and (max-width: 991px) {
  .mini-philosophy-picture img {
    height: 500px;
  }
}

.message-section {
  background-color: rgb(56, 61, 71);
}

.message-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  -webkit-column-gap: 50px;
}

@media screen and (max-width: 991px) {
  .message-container {
    -moz-column-gap: 100px;
         column-gap: 100px;
    -webkit-column-gap: 100px;
  }
}

@media screen and (max-width: 731px) {
  .message-container {
    grid-template-columns: 1fr;
  }
}

.message-image-container {
  position: relative;
}

.message-image-container img {
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 991px) {
  .message-image-container img {
    width: 150%;
    left: 30px;
  }
}

@media screen and (max-width: 731px) {
  .message-image-container img {
    display: none;
  }
}

.message-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 731px) {
  .message-text-container {
    padding-top: 30px;
  }
}

@media screen and (max-width: 731px) {
  .message-text-container {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.message-heading {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .message-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 731px) {
  .message-heading {
   font-size: 26px;
  }
}

.main-message {
  font-size: 24px;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .main-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 731px) {
  .main-message {
    font-size: 16px;
  }
}

.author-title,
.message-author {
  text-align: right;
  font-size: 18px;
}

@media screen and (max-width: 731px) {
  .author-title,
  .message-author {
    font-size: 14px;
  }
}

.subsidaries-section {
  margin-top: 150px;
  margin-bottom: 100px;
  color: white;
}

@media screen and (max-width: 731px) {
  .subsidaries-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.subsidaries-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 100px;
}

@media screen and (max-width: 731px) {
  .subsidaries-container {
    grid-template-columns: 1fr;
  }
}

.subsidaries-text {
  grid-column-start: span 1;
  grid-column-end: span 1;
  place-items: center;
  -webkit-transform: translate(-100%, 0) rotate(-90deg);
      -ms-transform: translate(-100%, 0) rotate(-90deg);
          transform: translate(-100%, 0) rotate(-90deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  text-align: left;
}

@media screen and (max-width: 731px) {
  .subsidaries-text {
    -ms-transform: none;
        transform: none;
    -webkit-transform: none;
    -ms-transform-origin: 0;
        transform-origin: 0;
    -webkit-transform-origin: 0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.subsidaries {
  margin-top: 60px;
  margin-left: -300px;
  font-size: 48px;
  font-weight: 501;
}

@media screen and (max-width: 731px) {
  .subsidaries {
    margin-top: 60px;
    margin-left: -20px;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.subsidaries span {
  font-weight: 401;
  font-style: italic;
}

.website-view-button {
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 30px;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.website-view-button a {
  color: white;
}

.website-view-button:hover {
  background-color: rgb(204, 157, 101);
  color: rgb(56, 61, 71);
  border-color: rgb(204, 157, 101);
}

.subsidaries-infographic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  -webkit-column-gap: 40px;
  height: 500px;
  padding-left: 60px;
  padding-right: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media screen and (max-width: 731px) {
  .subsidaries-infographic {
    height: 300px;
  }
}

.first-content,
.second-content,
.third-content,
.fourth-content,
.fifth-content,
.sixth-content,
.seventh-content,
.eigth-content,
.ninth-content {
 min-width: 300px;
 border-radius: 15px;
}

.first-content {
  background-image: url("../assets/images/pexels-frans-van-heerden-1624695.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.main-group {
  color: white;
  font-size: 28px;
  font-style: italic;
  font-weight: 401;
}

@media screen and (max-width: 550px) {
  .main-group {
    font-size: 20px;
  }
}

.subisidary {
  color: white;
  font-size: 28px;
  font-weight: 501;
}

@media screen and (max-width: 531px) {
  .subisidary {
    font-size: 20px;
  }
}

.second-content {
  background-image: url("../assets/images/pexels-john-lee-6766628.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
 }

.third-content {
  background-image: url("../assets/images/pexels-volkan-vardar-3887985.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.fourth-content {
  background-image: url("../assets/images/pexels-ron-lach-9853303.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.fifth-content {
  background-image: url("../assets/images/ezgif.com-gif-maker4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.sixth-content {
  background-image: url("../assets/images/pexels-karolina-grabowska-4386158.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.seventh-content {
  background-image: url("../assets/images/ezgif.com-gif-maker2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.eigth-content {
  background-image: url("../assets/images/ezgif.com-gif-maker.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
}

.ninth-content {
  background-image: url("../assets/images/pexels-pixabay-210538.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.5); 
}

/* Begin News Section*/
.news-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 3%;
}

.section-name {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 3em;
  font-style: italic;
  font-weight: 401;
}

@media screen and (max-width: 550px) {
  .section-subtitle {
    font-size: 2em;
  }
}

.section-subtitle span {
  font-style: normal;
  font-weight: 501;
  color: rgb(204, 157, 101);
}

.news-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  -webkit-column-gap: 40px;
  padding: 50px;
}

@media screen and (max-width: 991px) {
  .news-section-content {
    grid-template-columns: 1fr 1fr;
  }
  .news-section-content-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 731px) {
  .news-section-content {
    -moz-column-gap: 30px;
         column-gap: 30px;
    -webkit-column-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .news-section-content {
    grid-template-columns: 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
    -webkit-column-gap: 50px;
    row-gap: 50px;
  }

  .news-section-content-item:nth-child(3) {
    display: inherit;
  }
}

.news-section-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.news-section-content-item-image {
  overflow: hidden;
}

.news-section-content-item-image img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
}

@media screen and (max-width: 731px) {
  .news-section-content-item-image img {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .news-section-content-item-image img {
    height: 300px;
  }
}

.news-section-content-item-image:hover img {
  transform: translate3d(0px, 1.96448%, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  -webkit-transform: translate3d(0px, 1.96448%, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.news-section-content-item-textbox {
  padding: 0 1.5rem;
}

.news-section-content-item-category-text {
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid rgb(204, 157, 101);
  color: white;
  text-transform: uppercase;
  -webkit-transition: background-color 0.20s,
              color 0.20s;
  -o-transition: background-color 0.20s,
              color 0.20s;
  transition: background-color 0.20s,
              color 0.20s;
  -webkit-transition: background-color 0.20s,
                      color 0.20s;
}

.news-section-content-item-category-text:hover {
  background-color: rgb(204, 157, 101);
  color: white;
}

.news-section-content-item-heading {
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 501;
  color: rgb(204, 157, 101);
}

@media screen and (max-width: 731px) {
  .news-section-content-item-heading {
    font-size: 1.2rem;
  }
}

.news-section-content-item-text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 10px;
}

@media screen and (max-width: 550px) {
  .news-section-content-item-text {
    -webkit-line-clamp: 3;
  }
}

.all-news-link {
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: rgb(56, 61, 71);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 20px;
  border: 1px solid rgb(56, 61, 71);
  -webkit-transition: background-color 0.20s,
              color 0.20s;
  -o-transition: background-color 0.20s,
              color 0.20s;
  transition: background-color 0.20s,
              color 0.20s;
  -webkit-transition: background-color 0.20s,
                      color 0.20s;
}

@media screen and (max-width: 550px) {
  .all-news-link {
    font-size: 14px;
  }
}

.all-news-link:hover {
  background-color: #fff;
  color: rgb(56, 61, 71);
}

/*Begin Styling Gallery Section*/

.gallery-cta {
  background-image: url("../assets/images/pexels-emmanuel-ikwuegbu-8948347.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(0,0,0,.4);
          box-shadow: inset 0 0 0 10000px rgba(0,0,0,.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 48px;
}

.gallery-cta-text {
  padding: 13rem 0;
  text-align: center;
}

@media screen and (max-width: 731px) {
  .gallery-cta-text {
    padding: 6.5rem 0;
  }
}

.gallery-cta-text h3 {
  margin: 0 0;
  padding: 0;
  font-weight: 401;
  font-style: italic;
}

@media screen and (max-width: 731px) {
  .gallery-cta-text h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .gallery-cta-text h3 {
    font-size: 32px;
  }
}

.gallery-cta-text h2 {
  margin: 0 0;  
  padding: 0;
  text-transform: capitalize;
}

@media screen and (max-width: 731px) {
  .gallery-cta-text h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .gallery-cta-text h2 {
    font-size: 32px;
  }
}

.gallery-cta-text a {
  font-size: 18px;
}

@media screen and (max-width: 731px) {
  .gallery-cta-text a {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .gallery-cta-text a {
    font-size: 14px;
  }
}

.gallery-cta-text a p {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  padding: 8px 18px;
  border: 1px solid white;
  -webkit-transition: background-color 0.20s,
              border-color 0.20s,
              color 0.20s;
  -o-transition: background-color 0.20s,
              border-color 0.20s,
              color 0.20s;
  transition: background-color 0.20s,
              border-color 0.20s,
              color 0.20s;
  -webkit-transition: background-color 0.20s,
                      border-color 0.20s,
                      color 0.20s;
}

.gallery-cta-text a p:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

/*Begin email section styling*/

.email-section {
  padding: 4rem 4rem;
}

.email-subscription-box {
  display: grid;
  grid-template-columns: 1fr auto;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  -webkit-column-gap: 1rem;
}

@media screen and (max-width: 991px) {
  .email-subscription-box {
    grid-template-columns: 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    -webkit-column-gap: 2rem;
    row-gap: 2rem;
    text-align: center;
    justify-items: center;
  }
}

.email-subscription-box h2 {
  margin: 0 0;
  font-weight: 501;
  font-size: 3rem;
  line-height: 120%;
  color: rgb(204, 157, 101);
}

@media screen and (max-width: 721px) {
  .email-subscription-box h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .email-subscription-box h2 {
    font-size: 1.4rem;
  }
}

.email-subscription-box h2 span {
  font-weight: 401;
  font-style: italic;
}

.newsletter-form {
  width: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .newsletter-form {
    max-width: 450px;
  }
}

@media screen and (max-width: 550px) {
  .newsletter-form {
    max-width: 200px;
    margin-left: -170px;
  }
}

@media screen and (max-width: 500px) {
  .newsletter-form {
    margin-left: 0;
  }
}

.newsletter-form-fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  box-pack: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 500px) {
  .newsletter-form-fill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .newsletter-form-fill input[type=submit] {
    display: block;
    min-width: 163%;
  }
}

.newsletter-email {
  width: 300px;
  min-height: 4rem;
  padding-left: 1.25rem;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: rgba(56, 61, 71, .5);
  background-color: white;
  color: #082220;;
  font-style: italic;
  font-size: 16px;
  font-weight: 401;
  letter-spacing: 0;
}

@media screen and (max-width: 500px) {
  .newsletter-email {
    border-width: 1px;
  }
}

.newsletter-email:focus-within {
  outline: none;
}

.newsletter-submit {
  border: 1px solid rgb(56, 61, 71);
  color: #f2f6eb;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(56, 61, 71);
  padding: 1rem 1.5rem;
  cursor: pointer;
}
